[2021-02-19 19:39] jbusecke opened #1 "Welcome Coiled!"
I set up this repo to coordinate the collaboration between Coiled and the Abernathey Lab.

Very much looking forward to working with you all!
@jrbourbeau @mrocklin @rabernat

I will try to start populating some issues we face in the group later today or early next week.

[2021-02-19 19:52] mrocklin commented on #1
Woo!  cc'ing also @ian-r-rose

[2021-02-19 19:59] jrbourbeau commented on #1
Sounds great, thanks @jbusecke!

[2021-03-02 19:50] jbusecke opened #2 "Newer dask/distributed versions take very long to start computation."
Hi everyone,

here is a relatively recent issue that puzzles me (and prevents me from upgrading to the latest dask/distributed versions).

For large computations, it can take *very long* until a any computation is "started", as judged from nothing happening in the task stream/ProgressBar(for threaded scheduler).

This example (which mimics part of my typical workload with high-resolution ocean mod

[2021-03-02 19:55] jbusecke commented on #2
I just ran the example again and the cluster started showing activity fairly quickly, so I am not entirely sure the above example is the best to expose this behavior, but perhaps you still have an idea what could be causing this?

[2021-03-02 22:21] jrbourbeau commented on #2
Thanks for the nice example snippet @jbusecke!

Nothing immediately pops out to me. But there has been a lot of recent work on `HighLevelGraph`s, transmitting graphs to the scheduler, etc. which might have impacted your workflow.

I tried the example locally on my laptop with two changes:

- Used a `LocalCluster` instead of `GatewayCluster`
- Used a local filesystem `fsspec` mapper (i.e. `mapper =

[2021-03-02 22:25] jrbourbeau commented on #2
Stepping back a bit, I suspect that there will be times in the future when you encounter issues when running on pangeo resources and it will be useful for others to try and reproduce them. Does Pangeo have any publicly accessible resources we could use to try and reproduce the issues you run into? I know there's [Pangeo cloud](https://pangeo.io/cloud) and [Pangeo's binderhub](https://binder.pangeo

[2021-03-02 22:25] jrbourbeau commented on #2
Also cc @ian-r-rose

[2021-03-02 22:29] jbusecke opened #3 "Scaling issues with large datasets"
In this issue I am trying to come up with a somewhat 'canonical' example of a workflow that I keep having trouble with when working on large climate model data.

## A typical workflow for ocean model data
At the very basic level most of (at least my) workflows can be broken down into three steps.

1. Read in data
2. Apply some processing (this can be very basic to more advanced steps)
3. Save the

[2021-03-02 22:38] jbusecke commented on #2
I did run these on the Pangeo Cloud. It only requires a [sign up](https://pangeo.io/cloud.html#sign-up). This would be a good place for all of us to be able to have the same playing field?

[2021-03-02 22:39] jbusecke commented on #2
Thank you very much for the suggestions. Will try them now.

[2021-03-02 22:47] jrbourbeau commented on #2
Great! I'll sign up now. Time to dust of my old ORCID...

[2021-03-02 22:55] jbusecke commented on #2
Using
[code]

indeed cut the wait time down from ~4 min to less than 1 min! Ill try to check that in my full blown workflow to see if this has a similar effect.

[2021-03-02 22:57] rabernat commented on #2
I'm curious about the tradeoffs of bypassing optimizations. They might make the computation start faster...but will it run slower?

[2021-03-02 23:17] jbusecke commented on #2
I didnt run them to completion, but will now 😁

[2021-03-02 23:24] jrbourbeau commented on #2
This is a great question to ask! In general things will be slower. Specifically, [here are all the array optimizations that are skipped](https://github.com/dask/dask/blob/8663c6b7813fbdcaaa85d4fdde04ff42b1bb6ed0/dask/array/optimization.py#L53-L76) when `"optimization.fuse.active"` is turned off. Exactly how much slower things are depends on the particular computation -- though I suspect the last o

[2021-03-03 00:22] jbusecke commented on #3
From some of the initial interactions in #2 I got curious and started reading into the 'Optimization' chapter of the desk docs. I think not being able to diagnose/understand what is going on on that level really prevents me from identifying problems in a more concise manner.

I would like to learn more how I can inspect the task graph. I was able to go through the docs and I think I understand the

[2021-03-03 21:20] jrbourbeau commented on #3
Thanks for outlining a nice reproducer @jbusecke, I'll see if I can recreate the issue on pangeo cloud (which I have access to now 🎉)

Just in case you haven't seen these pages yet, I recommend checking out:

- [Task graph specification docs](https://docs.dask.org/en/latest/spec.html)
- [Collections interface docs](https://docs.dask.org/en/latest/custom-collections.html)
- [`HighLevelGraph` docs](

[2021-03-15 14:37] mrocklin commented on #3
@jrbourbeau has there been any progress here?  In principle this seems like it should be a slam dunk application.  I'm curious what's going on.

Also, putting on my Coiled hat, I encourage you to push on using Coiled for this alongside the Pangeo work.  If there are issues (I suspect that moving large graphs across the open internet to be one for example) then we should highlight them.

[2021-03-15 14:39] mrocklin commented on #2
The biggest thing that you'll miss from losing fusion is probably slicing
fusion.  Dask/Xarray co-evolved a lot of logic to allow slicing on
HDF5/NetCDF files to only read in what was necessary.  If you're doing
full-volume or at least full-chunk data processing then I don't think that
you're likely to miss much.

On Tue, Mar 2, 2021 at 5:25 PM James Bourbeau ***@***.***>
wrote:

[2021-03-15 17:30] jrbourbeau commented on #3
Last Friday @gjoseph92 and I went through the example workflow @jbusecke posted

We found that things scaled as expected when we simply increased the size of the time axis for the dataset. That is, if we doubled the length of the time axis the workload ran with roughly the same performance characteristics, but it took twice as long because there were twice as many tasks. [Here's a performance repo

[2021-03-15 17:34] mrocklin commented on #3
Ryan's issue is different in that it is not embarassingly parallel.  Memory pressure is a bigger deal when you have some other system, like inter-worker communication, that can cause memory-freeing tasks to run at the same pace as memory-producing tasks.

[2021-03-15 17:35] mrocklin commented on #3
Similarly, looking at the second performance report, I see a lot more communication.  I wonder if this is being caused by errant load balancing / work stealing decisions.

[2021-03-15 17:45] jrbourbeau commented on #3
I'm also curious if errant work stealing is playing a role as modifying the chunk size will impact `TaskPrefix.duration_average` for these tasks -- which is used to make work stealing decisions. Though since I've not been able to reproduce the issue I haven't been able to investigate further

[2021-03-16 22:23] jrbourbeau opened #4 "GPU workload"
@rabernat in the group meeting yesterday you mentioned having a use case where you want to utilize GPUs through CuPy. I'd love to get more context on this as we've seen other workloads dramatically accelerated when switched to using GPUs and it'd be great to see if some of your group's work could also benefit.

Additionally folks at Coiled can help both with writing CuPy / cuDF / RAPIDS / ... code

[2021-03-16 22:44] jrbourbeau opened #5 "Hero workload brainstorm"
Yesterday in the group meeting it was mentioned that we should come up with a so-called "hero workload" that both

- Produces a useful result that folks will find interesting as well as
- Really shows off the power of what we can do with the PyData stack today

I'm opening this issue as a place for us to brainstorm about what such a workload might look like. @rabernat @jbusecke do you have any ini

[2021-03-23 18:25] jrbourbeau commented on #3
@jbusecke given that I wasn't able to reproduce the issue consistently with the above snippet, would you be up for hopping on a call with @gjoseph92 and I to go through one of your problematic workloads? The goal here would be for us to try and come away with a notebook that @gjoseph92 and I could then dig deeper into to see what's causing the underlying issue and try to improve the situation upst

[2021-03-26 18:00] jrbourbeau commented on #5
@rabernat @jbusecke there's the [Dask Distributed Summit](https://summit.dask.org/) coming up this May. From the summit's landing page, it's a virtual conference "where users, contributors, and newcomers can share experiences to learn from one another and grow together".

This would be a great space for Pangeo folks to share their experience using Dask. For example, we could share the results of a

[2021-03-30 19:39] rabernat commented on #5
Hi @jrbourbeau! I'm a bit confused about the Dask Summit. There are two "workshop proposals" that I know about: Pangeo and Xarray. But I haven't seen an actual call for talk proposals. Did we miss that deadline?

[2021-03-30 19:53] rabernat commented on #5
Regarding the hero workload, I have an idea coming together. The core of the method is described in this [recent paper](https://eartharxiv.org/repository/view/2009/) by @dhruvbalwada. We want to compute the vorticity / strain / divergence joint distribution from ocean surface velocities. However, we want to do it using the dataset described here - https://medium.com/pangeo/petabytes-of-ocean-data-

[2021-03-30 21:11] jrbourbeau commented on #5
In addition to workshops there are also [talks and tutorials](https://summit.dask.org/present/#guidelines) at the Dask summit. Apologies, I probably should have posted something earlier here about the summit. Fortunately, I submitted an aspirational talk about processing a petabyte of data with Dask in the cloud. The hero workload sounds like it would be a good fit for that talk : )

We're in the

[2021-04-12 22:22] rabernat commented on #5
Following up on the conversation at today's meeting. The idea is to do the following

- Split the domain into roughly 5x5-degree block. (Possibly use rechunker to write a copy of the data with optimized chunk structure. Or try without rechunking to disk and see what happens...)
- Calculate vorticity, strain, and divergence from the surface velocity fields using xgcm. (This will provide a chance to

[2021-04-12 22:45] dhruvbalwada commented on #5
I can go both those times this week, with a slight preference for the second slot.

[2021-04-13 17:15] jbusecke commented on #5
I am very interested and can do both slots.

[2021-04-13 17:19] jbusecke commented on #5
I combed throught the xgcm issue tracker and I think it might be helpful to fasttrack [this](https://github.com/xgcm/xgcm/issues/187) issue.

My thinking was that there might be opportunities to optimize these higher level operators without calling the lower level ones (diff/interp) in a chained manner? But for that to work it might be helpful to have this functionality implemented and properly te

[2021-04-13 17:44] hscannell commented on #5
I would like to attend and both time slots work for me as well. I will read Dhruv's [paper](https://eartharxiv.org/repository/view/2009/) before then.

[2021-04-13 18:24] TomNicholas commented on #5
I am also interested, free both times, but need to read Dhruv's paper to understand!

[2021-04-13 18:29] jbusecke commented on #3
Sorry for the late response here. I got a bit overwhelmed by my workload and dropped this.

I would be very curious to talk more about this, but I think it might be better to work on actual workflow?

I am prototyping a (what I would call typical) cmip6 climate model processing computation in the next days, and had quite a few hickups the last time I ran it. I could isolate a problematic model and

[2021-04-13 18:48] jrbourbeau commented on #3
That sounds great @jbusecke

[2021-04-13 18:49] jrbourbeau commented on #5
Count me in too -- both time slots this Friday work for me

[2021-04-13 19:20] rabernat commented on #5
Ok invite sent for 2:45.

@dhruvbalwada - perhaps you could walk us through the code you used in your paper? No need to prepare anything fancy though...

[2021-04-14 19:43] rabernat opened #6 "Help debugging workflow with numba + xarray + dask"
Here is a notebook that I think reproduces a problem that @stb2145 is having in her workflow.
https://gist.github.com/rabernat/a794cc1f58aa1c515e9c1c2c385c24cb

We have a package called fastjmd95 that implements the ocean equation of state in numba:
https://github.com/xgcm/fastjmd95/

We would like to be able to call it on numpy, dask, xarray, and xarray+dask data and have it "just work". Our atte

[2021-04-14 19:55] jrbourbeau commented on #6
Thanks for the detailed write up and notebook @rabernat -- I'll try it out on Pangeo Cloud. Briefly looking through the linked `numba` and `distributed` issues, it looks like Tom has a PR into `numba` (xref https://github.com/numba/numba/pull/6234) which would close https://github.com/dask/distributed/issues/3450 and might lay the groundwork for closing https://github.com/numba/numba/issues/4314 (

[2021-04-14 19:58] mrocklin commented on #6
Looking briefly at some of the associated issues it looks like Tom may have a solution.  I think that the question is if we want to wait for a numpy and numba release, or if we want to do a workaround.  Guido seems to have a workaround that we could implement in Dask if necessary.  @rabernat what is the time pressure here?  Are you looking for something fast, or are you looking for something that

[2021-04-14 20:44] rabernat commented on #6
Thanks for the quick replies!

My hunch is that there are really two distinct issues here:
- The upstream issues related to serializability of numba functions, involving numpy, numba, dask, etc. I am fine with waiting for progress on those, as long as we continue to track the issue and not lose sight of the ball as the process unfolds.
- The workaround we have already deployed revealed a vast perf

[2021-04-14 20:45] rabernat commented on #6
More generally, it would be nice to know whether the code we have in https://github.com/xgcm/fastjmd95/blob/master/fastjmd95/jmd95wrapper.py is considered "good practice" or not.

[2021-04-15 01:11] gjoseph92 commented on #6
FWIW I don't think this is possible to do on the Dask end. https://github.com/dask/distributed/issues/3450#issuecomment-587530211 is a good explanation: by the time dask is seeing the ufunc, `type(ufunc)` is a compiled `numpy.ufunc`, with no reference back to the `numba.DUFunc` where all the state that could be used for pickling lives.

Additionally, Guido's workaround in https://github.com/numba/

[2021-04-15 13:43] mrocklin commented on #6
It looks like @rabernat isn't too concerned about the serializability issue.  We can probably just wait on that (although I encourage @gjoseph92 and @jrbourbeau to subscribe to the various upstream issues).

Yeah, it seems like broader investigation is called for here.  Thanks @gjoseph92

[2021-04-15 13:54] rabernat commented on #6
Just to clarify, I am concerned about the serializability issue to the extent that it relates to the following central question:

_What is the best practice for integrating numba code seamlessly with xarray + dask.distributed processing?_

Our goal in several packages we maintain is to provide functions (possibly implemented in numba) that "just work" with:
- Numpy inputs
- Xarray inputs
- Dask in

[2021-04-15 14:00] mrocklin commented on #6
The `__apply_ufunc__` mechanism is a robust mechanism for multiple dispatch, it's just complicated.

I support this overarching focus.  My guess is that the problem comes down to serialization, and that things will get better when this is resolved, but the fact that you're seeing differences based on the API path that you use is curious and warrants investigation.  I suspect that if @gjoseph92 spe

[2021-04-15 14:04] rabernat commented on #6
Great! Sounds like a good plan that will be useful for everyone involved. Thanks a lot.

[2021-04-15 15:05] jrbourbeau commented on #6
Totally agree that it makes sense for @gjoseph92 to dive deeper here. As a seed for future exploration, yesterday I ran through the notebook Ryan provided on Pangeo Cloud and captured a couple of performance reports (see below) so we can compare the Dask `map_blocks` approach vs. Xarray's `apply_ufunc` (I should have moved the code snippets generating the computations into the `performance_report`

[2021-04-15 15:24] mrocklin commented on #6
It would be useful to see a visualization of the high level graph that's involved in each case.  I wonder if there is some rechunking going on with ufuncs.  This would happen if we used gufunc and there were core dimensions, but I'm not sure that that's what's happening here.

[2021-04-15 15:25] mrocklin commented on #6
Oh, another possible cause for excess communication would be that high level blockwise fusion is working in one case but not the other.  This again seems like a good thing for @gjoseph92 to think about.

[2021-04-15 20:51] cspencerjones commented on #5
Seems like there might be an overlap with what Qiyu  is already doing? At least maybe worth inviting him...

[2021-04-15 20:56] dhruvbalwada commented on #5
Good idea, he just started looking at the vorticity-strain histograms in llc4320 to compare against idealized simulations with seasonality.

@qyxiao are you available tomorrow at 2:45pm eastern time?

[2021-04-15 21:09] qyxiao commented on #5
Hi Dhruv,
Yes I am, what is this about?

On Thu, Apr 15, 2021, 4:59 PM Dhruv Balwada ***@***.***>
wrote:

[2021-04-15 21:18] dhruvbalwada commented on #5
I have shared meeting invite with Qiyu, so he can join in as well.

[2021-04-15 21:30] rabernat commented on #5
Thanks so much @cspencerjones for making this connection. It's actually perfect because we are looking for a scientific lead for this project. It sounds like @qyxiao is a natural fit for this. Just have to make all our goals are aligned.

[2021-04-16 00:01] gjoseph92 commented on #6
Good news: it turns out the serialization error you're seeing is actually already fixed—by you! Pangeo is still running fastjmd95 v0.1, which didn't have the `maybe_wrap_arrays` decorator. Since that decorator calls `map_blocks`/`apply_ufunc` directly, it gets to put the `DUFunc` object into the graph, which is serializable. If you can upgrade fastjmd95 on Pangeo, I think the notebook should just

[2021-04-16 02:21] rabernat commented on #6
Well that's just embarrassing. 🤪 Very sorry for diverting so much effort before checking on this ourselves.

[2021-04-16 02:27] gjoseph92 commented on #6
Not a problem at all. It's just an unintentional side effect of your code that it happens to sidestep the problem—as you said this should be seamless; ideally you shouldn't even have to write `maybe_wrap_arrays`. So this was a good opportunity to start understanding those issues.

[2021-04-16 12:03] rabernat commented on #6
So we have the updated package on https://staging.us-central1-b.gcp.pangeo.io/ (thanks @jrbourbeau!). It looks like things are pretty much working! I can do

[code]

and have it "just work" reasonably well. There are still some small differences between the xarray vs. dask graphs, but not significant differences in execution time.

@stb2145 - to close the loop, can you try your workflow on https:/

[2021-04-16 18:54] shanicetbailey commented on #6
Successfully ran my workflow on staging pangeo with just calling `fastjmd95.rho`. Thank you everyone for the help!

[2021-04-16 20:40] #6 closed

[2021-04-16 20:44] dhruvbalwada opened #7 "Adding llc4320 notebook"
Not sure how I can add a notebook here, the `Fork` option is disabled. Maybe because there is nothing under code.
I have the notebook on: https://github.com/dhruvbalwada/LLC_analysis/blob/master/LLC4320_surface_kinematics.ipynb

Maybe someone with write access can create Code and move this over.

[2021-04-16 20:48] rabernat commented on #7
Ok you should be able to push now.

Forks are not possible on private repos.

[2021-04-16 20:52] jrbourbeau commented on #7
I think it has to go with the repo being empty (see the screenshot below)

![Screen Shot 2021-04-16 at 3 51 01 PM](https://user-images.githubusercontent.com/11656932/115082496-9dec7080-9ecb-11eb-869d-a05be4f5f653.png)

FWIW this is a public repo

[2021-04-19 18:47] stb2145 opened #8 "Dask performance on xhistogram"
Hi everone,

I'm having trouble loading my variables when I call `histogram()` from xhistogram and am not sure what is going on. I'm running with a cluster and I'm noticing my Dask dashboard is not performing well - especially when I use the `dims` argument in `histogram()`. I've attached a simple workflow that'll replicate this issue and you will see from the dask performance reports (the two lin

[2021-04-19 18:48] rabernat commented on #8
Thanks Shanice for the detailed and actionable bug report!

[2021-04-19 19:39] jbusecke commented on #8
I am pretty sure this is the same issue I am having for a project (I mentioned this in the last meeting). Thanks for the issue @stb2145. Very curious on how to improve this.

[2021-04-19 20:19] jrbourbeau commented on #8
Yeah, thanks for the nice example @stb2145 -- that helps a lot

Which Pangeo Cloud JupyterHub are you running on (e.g. the normal gcp deployment vs. https://staging.us-central1-b.gcp.pangeo.io)? Also, what worker instance types are you running on (e.g. small, medium, large)?

Here are the performance reports I got when running your example on the staging deployment with medium instances:

- [Witho

[2021-04-19 21:10] shanicetbailey commented on #8
- I am using [staging pangeo](https://staging.us-central1-b.gcp.pangeo.io/)
- Worker instance is Large
- I do consistently see a performance issue.  From my last meeting with @rabernat, we suspect it may be how xhistogram reshapes the data to make it not optimal for dask tasks...

I can run the example again and send you updated dask reports. I'll try to also send dask reports of the actual data I

[2021-04-19 21:44] jbusecke commented on #8
I can also try to submit a similar use case with a different data source as comparison. Will have to create those nice performance reports tomorrow. Thanks for working on this

[2021-04-19 22:17] rabernat commented on #8
So I am 90% sure this is an xhistogram bug and the problem is in this code:

https://github.com/xgcm/xhistogram/blob/2681aee6fe04e7656c458f32277f87e76653b6e8/xhistogram/core.py#L238-L254

I believe it can be fixed by changing the xhistogram implementation to use map_blocks and avoiding dask.array.reshape.

[2021-04-20 18:17] shanicetbailey commented on #8
Following up on dask reports for the actual data I'm working on, I can't provide info on the performance because I always have to eventually stop the kernel since the workers seem to freeze and not finish the tasks.

I reproduced the dask reports for the theta_dims and theta_no_dims and the discrepancy was similar to yours @jrbourbeau.

It is worth investigating further to see if changing  xhistog

[2021-04-21 16:14] jrbourbeau commented on #7
Just wanted to check in here, @dhruvbalwada are you able to push to this repo?

[2021-04-21 16:15] dhruvbalwada commented on #7
No, I am not. I usually push by forking/cloning the repo. But I don't know how to do that here. If you have any recommendations on how I can push, I will be willing to try them out now.

[2021-04-21 16:22] jbusecke commented on #8
I will try to help out over here today. My idea was to first run a very simple test of the following.

Use xarray.map_blocks to apply histogram to chunks. This should use xhistogram on numpy arrays, and I hope to bypass that dask reshaping pointed out by @rabernat.

If this shows promise, I will try to dig deeper into the xhistogram code.

Do you see any issues with this @jrbourbeau?

[2021-04-21 16:37] jrbourbeau commented on #8
@jbusecke trying out `xarray.map_blocks` seems like a good cross-check to do 👍

@gjoseph92 could you look at the [section of `xhistogram` Ryan pointed out](https://github.com/ocean-transport/coiled_collaboration/issues/8#issuecomment-822822789) to see how we might be able to refactor to use `map_blocks` instead of `reshape`.

[2021-04-21 16:41] jbusecke commented on #8
Much appreciate the help on the xhistogram side @gjoseph92, since I am not very familiar with the internals at all.

[2021-04-21 16:41] jrbourbeau commented on #7
Could you try `clone`ing this repo directly (instead of forking and then cloning your fork)

[code]

then `git add` your notebook, `git commit` those changes, and push directly to the `master` branch here:

[code]

[2021-04-21 16:42] jrbourbeau commented on #8
Neither are we : ) I'm looking forward to digging in on `xhistogram`

[2021-04-21 17:01] dhruvbalwada commented on #7
I am unable to push due to permissions issues. I get the message:
[code]

[2021-04-21 17:10] jrbourbeau commented on #7
Ah I see, thanks for trying that out @dhruvbalwada. @rabernat could you push @dhruvbalwada's notebook to this repo or give @dhruvbalwada / me push access?

[2021-04-21 18:19] shanicetbailey commented on #8
So not sure why, but today I've been able to load multiple variables with dask and xhistogram. I didn't do anything different, just ran the same nb that had the issue and I've been able to move forward... Not sure if this means it was a fluke, or if there is still an underlying problem with how xhistogram works with dask... @jbusecke could you weigh in with your own issue you've been having, and h

[2021-04-21 18:22] jbusecke commented on #7
I just created @ocean-transport/coiled, but I can only add @dhruvbalwada, because @jrbourbeau is not part of the organization. Not sure if that requires @rabernat admin privileges, or if I am doing something wrong...

[2021-04-21 18:23] jbusecke commented on #7
I just gave the team write priviliges to this repo. Can you try again @dhruvbalwada ?
Just FYI, I think Ryan is on vacation this week.

[2021-04-21 18:27] jbusecke commented on #8
I ran @stb2145 notebook both on staging and production(with upstream `fastjmd95` package) and was able to confirm that these calculation work. My suspicion was that perhaps the dask version was updated on the notebook images, and that somehow solved the issue? Or maybe some other transient problem on the kubernetes workers.

I suggested to leave this issue open while I run my (very similar) comput

[2021-04-21 19:48] jbusecke commented on #8
I am working on another use case that is blowing up my memory, but I am struggling with getting enough workers online to test it properly (currently crawling along on 1 worker 😭).

[2021-04-21 20:18] jbusecke commented on #8
Ok I just pushed a [sample notebook](https://nbviewer.jupyter.org/github/ocean-transport/coiled_collaboration/blob/master/notebooks/jbusecke_2d_xhistogram/jbusecke_2d_xhistogram.ipynb) that emulates my workflow.

This should be a rather straightforward use of xhistogram, and I am using synthetic data (rather small in the context of the CMIP6 data available), yet the computation is basically showin

[2021-04-21 20:25] dhruvbalwada commented on #7
Uploaded into notebooks now, thanks :)

[2021-04-21 20:25] #7 closed

[2021-04-21 21:43] jrbourbeau commented on #8
There was this commit https://github.com/pangeo-data/pangeo-cloud-federation/commit/e0b8afdd5571a8a1e68b4b7a33b789703a97ac7f a few days ago which updated packages on staging, but prod hasn't been updated in a few months 🤷

Thanks @jbusecke -- I'll take a look

[2021-04-22 01:05] shanicetbailey commented on #8
It's a little extra steps by
1. saving html file as a [gist](https://gist.github.com/)
2. then pasting the raw file version GitHub link in [raw githack](https://raw.githack.com/) to get a public, shareable link
3. then all you have to do is hyperlink or paste the "URL in production"

(Like I said, a little extra but convenient for those you are sharing with!)

[2021-04-27 22:23] gjoseph92 commented on #8
First: should we split this into two issues? I'm not sure if @stb2145's issues with multiple dims are the same as @jbusecke's. I've just been working with @jbusecke's [notebook](https://nbviewer.jupyter.org/github/ocean-transport/coiled_collaboration/blob/master/notebooks/jbusecke_2d_xhistogram/jbusecke_2d_xhistogram.ipynb) assuming it was representative of all the problems, but after re-reading t

[2021-04-29 20:05] jbusecke commented on #8
Hi @gjoseph92, thanks so much for this.

I just realized that my example was actually flawed because the resulting dataarray is quite large (and as you point out, grinds to a halt due to the `.load()` command at the end. I am currently experimenting a bit more with it and will open a separate issue as suggested.

For context: My 'real-world' calculation actually succeeds now, but I still thing the

[2021-04-29 21:30] jbusecke opened #9 "Performance tuning for weighted 2d histograms with xhistogram"
Following @gjoseph92 suggestion, I am opening a separate issue here, since the joint distribution problem seems to be sufficiently distinct from #8.

I have revised my [notebook](https://github.com/ocean-transport/coiled_collaboration/blob/master/notebooks/jbusecke_2d_xhistogram/jbusecke_2d_xhistogram.ipynb) slightly, now storing the output to a zarr store in the [pangeo scratch bucket](https://pa

[2021-04-29 21:51] aaronspring commented on #4
I get increases from gpu vs cpu. Hope I do a not too unfair comparison. https://climpred.readthedocs.io/en/latest/examples/misc/climpred_gpu.html

[2021-04-30 02:29] gjoseph92 commented on #9
This is a very helpful data point @jbusecke, thank you! I'm sad but excited that turning off spilling helped. I'm probably more wrong than right about this, but it may also have something to do with https://github.com/dask/distributed/issues/4424. Basically, while workers are spilling or un-spilling data from disk, they're unresponsive to any other events—including transferring data to other worke

[2021-04-30 03:14] gjoseph92 commented on #9
Update: Now that I've looked more carefully at the notebook, I don't think the `dask.config.set({"distributed.worker.memory.spill": None})` is actually being propagated to your workers. `dask.config.set` only applies to the local machine:

[code]

In the case of this particular config setting, because it's [referenced](https://github.com/dask/distributed/blob/97c66db49e6285f7c75cf1b5eddc9e917b6de2

[2021-04-30 03:15] jrbourbeau commented on #9
Thanks for trying all this out @jbusecke. Unfortunately I don't think the code in the notebook actually disables spilling. Setting `dask.config.set({"distributed.worker.memory.spill": None})` in the notebook will impact the config value of the `distributed.worker.memory.spill` on the client but not on the scheduler or workers, since they are are different machines. Note that since this config valu

[2021-04-30 03:17] jrbourbeau commented on #9
Whoops, looks like @gjoseph92 beat me to it. FWIW when I ran through the notebook I got very similar performance with and without spilling -- both looked like the [performance_report_full](https://gistcdn.githack.com/jbusecke/c1ac1d74d1b03b84dad5ead3d39bcf32/raw/c2dcefe22158783803f0093670cae6226740b4a1/2d-histogram-dask-report-full.html) @jbusecke posted

[2021-04-30 13:58] jbusecke commented on #9
Thank you for looking into this, and the additional info. That confuses me even more then. I definitely had some major issues with the full calculation, but it seems that is not a persistent issue? FWIW, these problems seem to be somewhat reflected still in my production workflow (and indeed the workers are still spilling!). The production workflow adds a few masking operations (separating ocean b

[2021-04-30 15:42] dcherian commented on #9
If you have a `region` variable with value `1` in the atlantic, `2` in the pacific, for example, can you not pass this as an extra variable to "group by" in xhistogram with bins `[0.5, 1.5, 2.5]`?

PS: I found this repo from https://github.com/xgcm/xhistogram/pull/49, and assume it's OK to participate since it is public.

[2021-04-30 15:47] jbusecke commented on #9
Oh that is actually an excellent idea. Ill try that out!

Appreciate the help @dcherian!

[2021-04-30 15:50] dcherian commented on #9
![image](https://user-images.githubusercontent.com/2448579/116720421-671d5c80-a999-11eb-91c1-68fdf23bd199.png)

[2021-04-30 17:01] jrbourbeau opened #10 "Improved cluster memory visualization"
I wanted to mention that the latest `distributed=2021.4.1` release inlcudes updates to how Dask tracks and visualizes worker memory (xref https://github.com/dask/distributed/pull/4651). In particular, we now monitor and visualize:

- "unmanaged" memory that's being used on workers but is not associated with computation results (e.g. memory leaks)
- Size of computation results which have spilled to

[2021-04-30 18:03] jbusecke commented on #10
Cool. Ill try to check that out once it is on the pangeo cloud environment.

[2021-04-30 19:00] jbusecke commented on #9
@dcherian: This works really nicely! Saves me a lot of files and fuss.

@jrbourbeau @gjoseph92 : I am still trying to disable spilling. I have followed [these](https://pangeo.io/cloud.html#environment-variables-on-the-cluster) instructions to set environment variables. This is what I am doing:
[code]

I then follow @jrbourbeau instructions to check if that has effect:
[code]

I am getting `{'tls:/

[2021-04-30 19:04] rabernat commented on #9
Would some of this be easier if we switched to Coiled dask clusters?

The CMIP6 data are all on AWS now, so the choice of cloud is not a problem.

[2021-04-30 19:06] jbusecke commented on #9
Would be happy to check that out. What would be needed from me to get an account?

[2021-04-30 19:16] gjoseph92 commented on #9
Try using the string `"None"` instead of `None` when you make `env`. Though I'm not certain it'll make a difference in how dask interprets it in the end.

Yes, if you're seeing orange in the task stream (`disk-read-` tasks), then spilling is still happening. However, if you just see bars on the worker memory usage chart turning from blue to orange, that doesn't necessarily mean spilling is happeni

[2021-04-30 20:36] jbusecke commented on #9
I just tried `"None"` and I am now getting other values from the `get_config_value` call:
[code]

But the workers are still spilling to disk?!?
![image](https://user-images.githubusercontent.com/14314623/116751078-7e783c00-a9d1-11eb-85fc-ad510f506fd2.png)

I have just pushed the newest version of my [testing notebook](https://github.com/ocean-transport/coiled_collaboration/blob/master/notebooks/jb

[2021-04-30 21:20] jrbourbeau commented on #9
You can go to https://cloud.coiled.io to sign up and https://docs.coiled.io for our documentation. I'm also happy to hop on a call at some point if you'd like a guided tour.

Today Dask workers can't distinguish between writing a task result to disk from it taking some non-negligible amount of time to put the result into memory (see [here](https://github.com/dask/distributed/blob/233ec8840671b5d70

[2021-04-30 21:30] jbusecke commented on #9
That would be awesome. Much appreciate the offer. I could do as early as Monday 11AM EST. Would that work for you by any chance?

I just singed up and will take a look around, but might take you up on that offer some time in the future.

Got it, so I might have misinterpreted this.

Either way I will put in another hour or so playing around. Ill post results, but just so I can find them for the me

[2021-04-30 21:57] jrbourbeau commented on #9
That sounds great -- just sent you / Gabe a calendar invite. Happy to invite others too, just let me know if you'd like to be included

👍

[2021-04-30 22:03] jbusecke commented on #9
Cool. Excited to see you on Monday. Enjoy the weekend!

[2021-05-03 16:44] gjoseph92 commented on #9
@jrbourbeau, @jbusecke, and I met this morning—very productive to be able to go back and forth in real time! We came away suspicious of a graph structure issue, since we observed that even after thousands of array-creation tasks had run, no store tasks had run (and none were ready to run). We think there is some sort artificial bottleneck which is forcing many (all?) array creations to complete be

[2021-05-03 16:44] jbusecke commented on #9
Thank you both for the super informative meeting @gjoseph92 @jrbourbeau.

I have commited a slightly cleaned up [notebook](https://github.com/ocean-transport/coiled_collaboration/blob/master/notebooks/jbusecke_2d_xhistogram/jbusecke_2d_xhistogram_debug_2021_05_03.ipynb), which can be used as a rough 'diff' to see what we saw.

[2021-05-03 21:52] rabernat opened #11 "Serialization problem with pangeo_forge"
Over in https://github.com/pangeo-forge/pangeo-forge/issues/116, I am documenting a scenario in which pangeo_forge generates a Delayed object that can't be run because calling `compute` or `persist` blows up the local notebook memory.

I have no idea what is causing this. If anyone from Coiled (@jrbourbeau, @gjoseph92) has insights on how to debug this situation, your help would be much appreciate

[2021-05-03 22:40] gjoseph92 commented on #9
Hey @jbusecke, some weird news: I just can't reproduce the issue. I'm running [this notebook](https://gist.github.com/gjoseph92/a8dea65d2be51c66e6256b390b9bb258#file-gjoseph_2d_xhistogram_debug_2021_05_03-ipynb) (your version, added a missing `dask` import, switched to only computing the full-size arrays we were looking at this morning) on https://staging.us-central1-b.gcp.pangeo.io/, where it loo

[2021-05-03 22:44] jbusecke commented on #9
Oh damn. The only small thing I believe I changed, was the vertical chunk size `cz` and I was running on production. Let me test this on staging.

[2021-05-03 22:45] gjoseph92 commented on #9
What was `cz` before? I'm realizing that the lack of spatial chunks might be making a big difference here.

[2021-05-03 22:47] jbusecke commented on #9
`cz=20` (from [the old notebook](https://github.com/ocean-transport/coiled_collaboration/blob/master/notebooks/jbusecke_2d_xhistogram/jbusecke_2d_xhistogram.ipynb)).

Sorry for that oversight, I just kinda changed it while cleaning up. I will concurrently test on staging and production.

[2021-05-03 22:48] gjoseph92 commented on #9
Ok, I'm testing with that on staging now

[2021-05-03 22:57] jbusecke commented on #9
Ok, this is really weird. It works for me on staging (with and without z chunks) **AND** on production (only tested with z chunks).

[2021-05-03 23:02] jbusecke commented on #9
This brings me back to @stb2145 issue in #8. If I am correct there was also some sort of 'non-reproducible' element to that, no?

[2021-05-03 23:28] jbusecke commented on #9
I gotta pack up over here, but Ill get back to this tomorrow.

My proposed steps:
- See if my production workflow is 'magically fixed' on staging
- If that is not the case, Ill try my best to recreate this situation, we encountered earlier today.

I am still puzzled by this...the task graph still shows the weird fanning in/out behavior, but store/lambda tasks are advancing as expected.

Oh wait, I

[2021-05-03 23:29] jbusecke commented on #9
It stored 50 chunks (task graph looked similar to yours), and then this:
<img width="601" alt="image" src="https://user-images.githubusercontent.com/14314623/116945501-d28b5680-ac45-11eb-93be-d172577d9d9a.png">

[2021-05-03 23:36] gjoseph92 commented on #9
@jbusecke are you sure you had the same number of workers every time? In that dashboard above it looks like there are 5 workers. I'd been trying to wait to run things until all 20 were available.

I think ideally it should still be able to work with 5, just a lot slower. But maybe that could explain the "magic" variation?

[2021-05-04 17:21] jbusecke commented on #9
Ah good catch. I think you are right and the number was lower.
I unfortunately wont have time to get back to this today, but will put in some time tomorrow. Hopefully we can get to the bottom of this.

[2021-05-04 17:35] rabernat commented on #9
I would say that, in general, this is a huge pain point for dask users. How many workers does a given computation need? And how much memory per worker? Are there any guidelines? Mostly we find out through trial and error (and burn a lot of compute in the process).

In traditional HPC we think a lot about [strong / weak scaling](https://www.kth.se/blogs/pdc/2018/11/scalability-strong-and-weak-scali

[2021-05-05 13:38] rabernat commented on #5
So in #12, I provided a simple example how xgcm's operations can be optimized. (This was my TODO item from our last meeting.) I'm trying to figure out the next step: how to actually get such optimizations to work via xgcm. I see a few different paths we could take:
1. Modify xgcm to use some kind of manual inlining / compiling of consecutive operations
2. Modify xgcm to use a "kernel" based approa

[2021-05-06 13:52] rabernat commented on #5
FYI, I also just shared an example of how to do an "interp with land" operation using the kernel + apply_ufunc approach here: https://github.com/xgcm/xgcm/issues/324

[2021-05-11 14:16] cspencerjones opened #13 "Running AMOC heat transport workflow on coiled"
@rabernat suggested that we might try running my AMOC heat transport workflow on coiled, since the original data are on AWS.

The main thing that I would be worried about is that I currently write some intermediate data to the Pangeo scratch bucket on AWS. Do we know if this would be possible with coiled?

[2021-05-11 14:26] rabernat commented on #13
Hmm good question. The credentials are coming from the kubernetes environment, so we don't have access to the actual key / secret. We would need input from @jrbourbeau et al about whether we can propagate the credentials to the coiled environment.

[2021-05-11 16:19] jrbourbeau commented on #13
Coiled will forward local AWS credentials to the remote cluster running on AWS. The idea is that the workers in your cluster should be able to access anything you can access locally (where you're `Client` is running). Is there a way for you can get access to AWS credentials on your local machine?

If this isn't straightforward with your current setup, you could always run Coiled from within Pangeo

[2021-05-11 18:44] jbusecke commented on #13
I just successfully wrote to the AWS scratch bucket, by using pangeo cloud as client (with custom environment) and coiled as cluster!

You can find the environment and notebook I used [here](https://github.com/jbusecke/cmip6_derived_cloud_datasets).

The only additional step I had to take was to install the environment locally `mamba env create -f environment.yml` (which you would have to do each

[2021-05-11 18:47] rabernat commented on #13
Is there a way to bypass the environment creation step and just point to an existing docker image? All pangeo cloud environments use images from https://github.com/pangeo-data/pangeo-docker-images.

[2021-05-11 19:01] jbusecke commented on #13
I think [this](https://docs.coiled.io/user_guide/software_environment_creation.html#docker) is what you are looking for?

[2021-05-11 19:04] rabernat commented on #13
Yes, perfect. So just cross reference with pangeo-cloud-federation to see what docker image to use.

For the staging AWS cluster it is:
https://github.com/pangeo-data/pangeo-cloud-federation/blob/staging/deployments/icesat2/image/binder/Dockerfile
(currently `pangeo/pangeo-notebook:2021.05.04`)

For the production cluster:
https://github.com/pangeo-data/pangeo-cloud-federation/blob/prod/deployment

[2021-05-11 20:57] jrbourbeau commented on #13
Woo, that's super cool to see!

Yeah, since Pangeo already handles building / deploying Docker images, we can just have Coiled use those images and everything should "just work". I see @jbusecke beat me to the punch on that : )

@cspencerjones I think doing something similar to @jbusecke's notebook, but with

[code]

should work for you to run your AMOC heat transport workflow on Coiled. Let me kn

[2021-05-13 15:02] cspencerjones commented on #13
This seems to work great in the staging environment. The version of dask is too old in the production environment right now. But I think that's fine as a temporary solution, and presumably the production environment will be updated soon.

Thanks for your help.

[2021-05-19 18:22] jrbourbeau commented on #10
Closing as `dask` and `distributed` versions have been updated on `gcp-uscentral1b`. Hopefully the new memory visualizations help -- let us know if you have any feedback!

[2021-05-19 18:22] #10 closed

[2021-05-20 17:44] cspencerjones commented on #13
OK, I am closing this. But related issues are coming.

[2021-05-20 17:44] #13 closed

[2021-05-20 17:45] jrbourbeau commented on #13
Glad things are up and running. Looking forward to the coming issues : )

[2021-05-21 18:41] cspencerjones opened #14 "I reached the cluster limit on coiled"
My coiled dashboard now says "As you have reached your quota of Coiled credits, any running clusters will be stopped shortly. Your credit quota renews on June 13, 2021." And I can't start new clusters. I have been burning quite a lot of time in order to diagnose what's not working for me (I now think I have a combination of issues: too many tasks in general, plus some slightly heterogeneous data).

[2021-05-21 19:10] jrbourbeau commented on #14
Just increased your limit! Let me know if you get need another bump later on

🎉

[2021-05-21 22:15] jbusecke commented on #14
Should I ask for this preemptively? Or when the time comes (probably next week).

[2021-05-21 22:38] jrbourbeau commented on #14
Just preemptively bumped your limit @jbusecke

[2021-05-21 22:48] jbusecke commented on #14
Thx so much @jrbourbeau. Enjoy your weekend yall!

[2021-05-21 22:55] jrbourbeau commented on #14
Yeah, no worries -- I suspect you'll be able to put those AWS nodes to good use : )

[2021-05-27 15:09] jbusecke commented on #9
Some preliminary tests with https://github.com/xgcm/xhistogram/pull/49, seem to indicate that it will solve my issue here. I will close for now, and reopen if necessary. Thanks for all the help @gjoseph92 @jrbourbeau

[2021-05-27 15:09] #9 closed

[2021-06-08 19:27] mrocklin commented on #3
I was just speaking with @gjoseph92 .  Seeing memory use get worse as we make chunking more fine grained points a possible finger at unmanaged memory (smaller chunks of memory get allocated differently by the operating system than larger chunks).  A good way to test this hypothesis would be to run this computation again with a version of Dask released after April, when we changed the memory chart

[2021-06-08 19:45] jrbourbeau commented on #3
See these docs https://distributed.dask.org/en/latest/worker.html#using-the-dashboard-to-monitor-memory-usage for information on the different types of memory Dask workers now keep track of (in particular, "unmanaged" memory)

See these docs https://distributed.dask.org/en/latest/worker.html#memory-not-released-back-to-the-os for the memory trimming trick

[2021-06-10 22:32] mrocklin commented on #14
Out of curiosity, are these on our account, or are we deploying into a LDEO AWS account?  I'm fine either way, but if y'all have academic credits to burn I'd rather we did that :)

[2021-06-10 22:56] jrbourbeau commented on #14
I believe they are on our account, though it'd be good for @jbusecke or @cspencerjones to confirm. What do your "Cloud Backend Options" settings look like for you "Account" page? Specifically, does the "Credentials" entry say "Default (use Coiled's)"?

<img width="1552" alt="Screen Shot 2021-06-10 at 5 52 28 PM" src="https://user-images.githubusercontent.com/11656932/121606955-bf259500-ca14-11eb-8

[2021-06-11 14:25] cspencerjones commented on #14
Yes, it says "Default (use Coiled's)"

[2021-06-11 15:26] jbusecke commented on #14
Same here

[2021-06-17 13:37] mrocklin commented on #3
With both unmanaged memory being tracked, and now neighbor/sibling/ordering scheduling (need to decide on a name for this) I think that there is a good chance that we're in good shape here.  I'm keen to try this again.  @gjoseph92, maybe this makes sense to add to your queue?

[2021-06-17 15:11] jbusecke commented on #3
Amazing. Thanks for working on this, everyone. Starting next week I can also allocate some time to test things out in more 'real-life' scenarios. Let me know if that would be of help.

[2021-06-21 12:56] rabernat opened #15 "Get some coiled expertise on GCM filters"
I just tagged @gjoseph92 and @jrbourbeau in an issue in the new gcm-filters package: https://github.com/ocean-eddy-cpt/gcm-filters/issues/45

It is a really cool new package that does smoothing on complex grid topologies. The code can target either CPUs or GPUs. It would be great to have some Coiled help optimizing it to get better scaling performance on CPU.

[2021-06-29 01:11] mrocklin commented on #3
@jbusecke I feel like we may now be in a good spot.  I'm hopeful that https://github.com/dask/distributed/pull/4967 has this problem covered .  I give it a 60% chance of solving your problem.  Do you have workloads around that you'd be interested in trying against it?

[2021-06-29 01:12] mrocklin commented on #3
It has, so far, met expectations on artifical examples that we've given it.  Other groups that we've engaged have said that they've gotten speedups from it, even on workloads that it was not designed to address.  If you have some time I'd love to see if this helps to solve some of your deeper issues here.

[2021-06-30 21:57] mrocklin commented on #2
I'm curious, does this problem still persist when turning off fusion?  If there is something else going on here then I'd like to get to the bottom of it.  If not then I would encourage this group to start operating without fusion (I think that you'll be ok) and we can work towards making that the default on our end.

[2021-06-30 21:58] mrocklin commented on #3
My sense is that this will be easier for people to check out after we have things in a release somewhere.  Alternatively, would it be easier for you all to use this is we created a docker image for you?  How hard is it for you to try out different versions of things at scale?

[2021-06-30 21:59] mrocklin commented on #11
It looks like this was handled.  Is that correct?

[2021-07-01 07:12] rabernat commented on #11
Yes indeed, thanks for checking up on this.

[2021-07-01 07:12] #11 closed

[2021-07-20 22:30] jbusecke commented on #2
I havent had time to get back to those test cases yet. In other workflows I have not really noticed this anymore, but Ill try to confirm soonish (backed up by paper revisions this/next week).

[2021-09-13 16:22] jbusecke opened #16 "Coiled help with workflow to process 'cloud-to-cloud' data"
Hi everyone,

I have started a (currently very bare bones) repo to figure out a way how people could efficiently generate and save generic 'derived' datasets from the CMIP6 archive here: https://github.com/jbusecke/cmip6_derived_cloud_datasets

I am currently using coiled clusters to do the actual processing. These are started from within github actions. I expect that I will run into more issues i

[2021-09-13 16:34] mrocklin commented on #16
Hi Julius!

I'm excited about Coiled being used in regular, CI triggered workflows on
climate data.

Are you looking for the client.wait_for_workers method perhaps?

I saw that Ryan just responded with this same advice :)

On Mon, Sep 13, 2021 at 11:22 AM Julius Busecke ***@***.***>
wrote:

[2021-09-13 16:59] jrbourbeau commented on #16
Thanks for raising an issue @jbusecke -- I'm also excited about using Coiled here. I left a comment over in https://github.com/jbusecke/cmip6_derived_cloud_datasets/issues/4

[2021-09-13 17:50] ncclementi opened #17 "Pangeo examples summary"
This is a document that intends to consolidate the latest discussion results around the Coiled-Pangeo collaboration, and answers some remaining questions regarding speedups and performance.

Let's concentrate on the latest questions by @rabernat posted on https://github.com/dask/distributed/issues/2602#issuecomment-891156357. This comment shows the results of some computations performed with a ver

[2021-09-14 12:20] jbusecke commented on #16
I am currently trying to implement saving to my own s3 bucket [here](https://github.com/jbusecke/cmip6_derived_cloud_datasets/issues/5). I am basically not sure what the best practices are to pass key/secret for s3 buckets. Is there a way this can be piped through the coiled configuration by any chance?

[2021-09-20 16:27] rabernat commented on #17
Thanks so much @ncclementi for taking the time to summarize our current state of affairs so thoroughly. 🙌

This may be a problem with the nbgitpuller version on that image. I will try to update it to use a working one.

Thanks for the explanation. Let's keep this on our radar of computations we want to optimize. It is ubiquitous in climate science. One thing that ultimately might make it run bette

[2021-09-20 18:57] mrocklin commented on #17
@rabernat for this example

[code]

Would it be helpful to see an example using bind/clone and friends?  If so, we can ask Guido to set this up.

[2021-09-21 14:28] gjoseph92 commented on #17
The lead example in https://docs.dask.org/en/latest/graph_manipulation.html is actually exactly this case. I'm guessing it would be like

[code]

[2021-12-06 20:26] rabernat opened #18 "Checklist for Pangeo / Coiled Webinar (Feb TDA)"
- [ ] Reproducible reproducers of performance improvements
  - [ ] xhistogram (internal refactoring to use dask better)
  - [ ] xgcm (internal refactoring to use dask better - https://github.com/xgcm/xgcm/issues/344)
  - [ ] array groupby (Deepak)
  - [ ] Dask memory management
- [ ] Blog post - https://medium.com/pangeo/an-open-source-success-story-f8c4e5b246c0
- [ ] Slide deck
- [ ] Future work